<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th></th>
      <th>From</th>
      <th class="col-sm-12">Subject</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |r| %>
    <tr>
      <td class="text-nowrap">
        <label class="label label-success">
            <i class="fa fa-envelope"></i>
        </label>
      </td>
      <td class="mailbox-name text-nowrap"><%= link_to r.user.name, admin_email_path(r.id) %>
      </td>
      <td><%= r.subject %></td>
      <td class="text-nowrap"><%= distance_of_time_in_words(r.created_at, Time.now) %></td>
      <td>Delete</td>
    </tr>
    <% end.empty? and begin %>
    <tr>
      <td colspan="5">This folder is empty.</td>
    </tr>
    <% end %>
  </tbody>
</table>
