<!-- Main content -->
<section class="content container-fluid">

  <div class="row">

    <!-- Alerts -->
    <div class="col-sm-12">

    </div>
    <!-- /. alerts -->

    <div class="col-sm-12">

      <div class="box box-primary">

        <div class="box-header with-border">
          <h3 class="box-title">Edit role <%= @resource.name %></h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" type="button" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div><!-- /. box header -->

        <div class="box-body">
          <%= render "includes/forms/roles-edit" %>
        </div><!-- /. box body -->

      </div><!-- /. box -->

    </div><!-- /. col -->
  </div><!-- /. row -->

</section><!-- /.content -->
