<section class="content container-fluid">

  <div class="row">

    <!-- Alerts -->
    <div class="col-sm-12">
      <%= render "includes/alerts" %>
    </div>
    <!-- /. alerts -->

    <div class="col-sm-3">
      <%= render "includes/box-email" %>
    </div>

    <div class="col-sm-9">

      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Emails</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" type="button" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
          </div>
        </div><!-- /. box header -->

        <div class="box-body">
          <%= render "includes/forms/emails-new" %>
        </div><!-- /. box body -->

      </div><!-- /. box -->

    </div><!-- /. col -->
  </div><!-- /. row -->

</section><!-- /.content -->
